<div class="container-fluid">
  <form [formGroup]="searchForm" class="mb-3" (ngSubmit)="onSubmit($event)">
    <div class="mb-3">
      <label for="subject">Subject</label>
      <input type="text" class="form-control" id="subject" formControlName="subject">
    </div>
    <div class="mb-3">
      <label for="assignedTo">Assigned To</label>
      <select class="form-select" id="assignedTo" formControlName="assignedTo">
        <option *ngFor="let user of (users | async)" [value]="user.username">{{user.username}}</option>
      </select>
    </div>
    <div class="mb-3">
      <label for="dueDate">Due Date After:</label>
      <input type="date" class="form-control" id="dueDate" formControlName="dueDate">
    </div>
    <div class="mb-3">
      <label for="status" class="form-label">Status</label>
      <select class="form-select" id="status" formControlName="status">
        <option *ngFor="let status of statuses" [value]="status">{{status}}</option>
      </select>
    </div>

    <div class="d-flex justify-content-end mt-2">
      <button type="button" class="btn btn-danger mt-auto" (click)="onReset()">Clear</button>
      <button type="submit" class="btn btn-primary mt-auto">Search</button>
    </div>
  </form>
</div>
