<div class="col-md-9">
  <h3 class="d-flex justif-content-center">Filters</h3>
</div>
<app-search-task (search)="onSearch($event)"></app-search-task>
<div *ngIf="tasks; else noTask">
  <div class="input-group-append">
    <br/>
  </div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Subject</th>
            <th scope="col">Due Date</th>
            <th scope="col">Status</th>
            <th scope="col">Assigned To</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let task of tasks| async">
            <td><a [routerLink]="['/tasks', task.id]">{{task.subject}}</a></td>
            <td>{{task.dueDate | date: 'MM/dd/YYYY'}}</td>
            <td>{{task.status}}</td>
            <td>{{task.assignedTo.username}}</td>
        </tr>
        </tbody>
    </table>
</div>

<ng-template #noTask>
  <div class="d-flex align-items-center justify-content-center" style="height: 90vh;">
    <h4>There are no tasks.</h4>
  </div>
</ng-template>
