<div *ngIf="(tasks | async)?.length; else noTask">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Subject</th>
            <th scope="col">Due Date</th>
            <th scope="col">Status</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let task of tasks | async">
            <td><a [routerLink]="['/tasks']">{{task.subject}}</a></td>
            <td>{{task.dueDate | date: 'MM/dd/YYYY'}}</td>
            <td>{{task.status}}</td>
        </tr>
        </tbody>
    </table>
</div>

<ng-template #noTask>
    <p>There are no atsks</p>
</ng-template>
