<div class="flex-container " *ngIf="isMainWindowOn">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul  class="navbar-nav ms-4">
        <li class="nav-item">
          <a class="nav-link" routerLink="my-tasks">My Tasks</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="all-tasks">All Tasks</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="add-task">Add Tasks</a>
        </li>
      </ul>
    </div>
    <div class="me-auto">
      <button class="btn btn-danger me-3" (click)="handleLogout()">Logout</button>
    </div>
  </nav>
</div>


<router-outlet></router-outlet>



