<div>
    <div class="submit-form">
        <div *ngIf="submited">
            <div class="form-group">
                <label for="subject">Subject</label>
                <input
                        type="text"
                        class="form-control"
                        id="subject"
                        [(ngModel)]="task.subject"
                        name="subject"
                />
            </div>

            <div class="form-group">
                <label for="dueDate">Due Date</label>
                <input
                        type="date"
                        class="form-control"
                        id="dueDate"
                        required
                        [(ngModel)]="task.dueDate"
                        name="dueDate"
                />
            </div>

            <div class="form-group">
                <label for="status">Status</label>
                <input
                        type="text"
                        class="form-control"
                        id="status"
                        [(ngModel)]="task.status"
                        name="status"
                />
            </div>

          <div class="form-group">
            <label for="assignedTo">Assigned To</label>
            <input
              type="text"
              class="form-control"
              id="assignedTo"
              [(ngModel)]="task.assignedTo"
              name="assignedTo"
            />
          </div>
            <br/>
            <button (click)="saveTask()" class="btn btn-success">Add Task</button>
        </div>
    </div>
</div>
